.form {
  &__input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 2px 4px rgba(#000, 0.1);
    padding: 20px 30px;
    margin-bottom: 25px;
    margin-top: 50px;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__submit {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
      margin: auto;
      border: none;
      margin-bottom: 25px;
      cursor: pointer;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }
}
